// ========================================================
// Cards Theme Styles
// ========================================================

.core-card {
  box-shadow: 0 2px 6px #eee;

  .card-title {
    padding: rem-calc(15px);
    font-style: italic;
  }

  .card-body {
    padding: rem-calc(15px);
  }

  .card-footer {
    padding: rem-calc(15px);
  }

  &.card-default {
    .card-title {
      background: $gray-lighter;
    }

    .card-footer {
      background: $gray-lighter;
    }
  }

  &.card-primary {
    .card-title {
      background: $brand-primary;
      color: white;
    }
  }
}
