// ========================================================
// Close Button Styles
// ========================================================

button.rad-button.close {
  // This makes close buttons gray for normal divs AND branded for any branded divs!
  color: inherit;
  opacity: 0.5;
  transition: opacity 300ms linear;

  &:hover,
  &:focus {
    color: inherit;
    opacity: 1;
    text-decoration: none;
  }
}
