// ========================================================
// Dropdown Theme Styles
// ========================================================

.rad-dropdown-background {
  background: transparent;
}

.dropdown-content {
  padding: $dropdown-padding;
  background: $dropdown-bg;
  border: solid 1px $dropdown-border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  min-width: 10rem;
}

.dropdown-item {
  &:hover,
  &:focus {
    background: $dropdown-item-hover-bg;
    text-decoration: none;
  }
}
