// ========================================================
// Utility Classes
// ========================================================

// Spacing
// ---------------------------------------------------------------------------

.w-100 { width: 100%; }
.h-100 { height: 100%; }

// Positioning
// ---------------------------------------------------------------------------

.clearfix { @include clearfix(); }
.float-left { float: left; }
.pull-left { float: left; }
.float-right { float: right; }
.pull-right { float: right; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Show/Hide Classes
// -----------------------------------------------------------------------------

*[aria-hidden="true"] {
  display: none !important;
  pointer-events: none;
  visibility: hidden;
}
*[aria-hidden="false"] {
  display: block;
  pointer-events: auto;
  visibility: visible;
}
*[role="presentation"] {
  display: initial;
  pointer-events: auto;
  visibility: visible;;
}

// Misc
// -----------------------------------------------------------------------------

.pointer {
  cursor: pointer;
}
