.sidebar {
  margin-top: 1rem;

  img {
    width: 100%;
  }

  @media screen and (min-width: 61em) {
    margin-top: 3.5rem;
  }
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      margin-bottom: 0;
      padding: 0.5rem;

      a {
        font-weight: 400;
        color: darken($blue, 10%);
      }

      .active {
        color: darken($pink, 10%);
      }
    }
  }
}
