// ========================================================
// Alerts Structure Styles
// ========================================================

.rad-alert {
  position: relative;
  margin-bottom: 1rem;

  > p,
  > ul {
    margin-bottom: 0;
  }
}

.alert-dismissible {
  .close {
    position: absolute;
  }
}
