// ========================================================
// Alerts Structure Styles
// ========================================================

.rad-alert {
  display: flex;
  flex: 1 100%;
  margin-bottom: 1rem;
  position: relative;
  > p,
  > ul {
    margin-bottom: 0;
  }

  .alert-content {
    flex-grow: 1;
  }
}
