// ========================================================
// Dropdown Structural Styles
// ========================================================

.rad-dropdown {
  position: relative;
  button {
    margin-bottom: 0; // No margin for trigger buttons inside of dropdown
  }
}

.rad-dropdown-background {
  position: fixed;
  z-index: 1090;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  // Trick Ember into firing action handlers for touch/tap events on
  // mobile/touch devices. This width should cover smartphones and most tablets.
  @media only screen and (max-width: 64.063em) {
    cursor: pointer;
  }
}

.dropdown-content {
  margin-top: 3px;
  position: absolute;
  z-index: 1091;

  &.dropdown-menu {
    padding: 0;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  border-radius: 0;
  border: 0;
}
