// ========================================================
// Variables used in structure
// ========================================================

// Tooltips
$tooltip-max-width: 200px !default;
$zindex-tooltip: 1070 !default;
$tooltip-arrow-width: 10px !default;
