// ========================================================
// SVG Structural Styles
// ========================================================

.core-svg {
  width: 1em;
  height: 1em;
  display: inline;
  position: relative;
  bottom: -0.15em; // svg baseline is a bit high
  fill: currentColor;
}
