// ========================================================
// Tabs Structural Styles
// ========================================================

.core-tabs {
  .tab-list {
    display: flex;

    .tab-li {
      flex-basis: auto;
      flex-grow: 1;
    }
  }
}
