// ========================================================
// Tooltips Structure Styles
// ========================================================

/*
 * Wrapping Element
 * Display inline-block and position relative sets this element as the anchor
 * point for the absolutely positioned tooltip.
 */
.rad-tooltip {
  display: inline-block;
  position: relative;
}

/*
 * MAGICAL WRAPPER
 * Having a relatively positioned anchor handles appropriately positioning the
 * tooltip, but its width is constrained by the parent element which is frequently
 * too narrow. This absolutely positioned wrapper has a width of 500px which
 * allows the tooltip to expand its parent's dimensions, but constrains it to a
 * readable width for the narrow text.
 */
.tooltip-content-wrapper {
  width: $tooltip-max-width;
  position: absolute;
}

// Tooltip Content
.tooltip-content {
  margin-top: $tooltip-arrow-width;
  padding: $tooltip-padding-y $tooltip-padding-x;
  position: absolute;
  z-index: $zindex-tooltip;

  // Tooltip Content Tip
  .tip {
    overflow: hidden;
    height: $tooltip-arrow-width * 2;
    width: $tooltip-arrow-width * 2;
    position: absolute;
    top: $tooltip-arrow-width * -2;
    left: 0.5rem;

    &:after {
      content: "";
      height: $tooltip-arrow-width;
      width: $tooltip-arrow-width;
      position: absolute;
      top: $tooltip-arrow-width * 1.5;
      left: $tooltip-arrow-width / 2;
      transform: rotate(45deg);
    }
  }
}
