// ========================================================
// Theme Variables
// ========================================================

// Units
// ---------------------------------------------------------------------------
/*
 * Note that skeleton rems are all based on a 10px rem root. Bootstrap uses a 16
 * (15px) for this theme actual font size for the rem root. The $ten4rem
 * variable is used to convert the base 10 skeleton rems to base 15 bootstrap
 * compatible ones.
 */
$font-size-root: 15px; // Font size drives rem values for theme
$ten4rem: 10 / strip-units(15px); // Conversion unit for skeleton base 10 rems

// Colors
// ---------------------------------------------------------------------------
$gray-dark:     #292b2c;
$gray:          #464a4c;
$gray-light:    #636c72;
$gray-lighter:  #eceeef;
$gray-lightest: #f7f7f9;

$brand-primary: #0275d8;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;
$brand-inverse: $gray-dark;

// Typography
// ---------------------------------------------------------------------------
$font-family-base: -apple-system, BlinkMacSystemFont, "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;;
$font-size-base: 1rem;
$font-weight-base: normal;
$line-height-base: 1.5;
$body-color: $gray-dark;
$body-bg: #fff;
$text-muted: $gray-light;

$font-size-h1: $ten4rem * 5.0rem;
$font-size-h2: $ten4rem * 4.2rem;
$font-size-h3: $ten4rem * 3.6rem;
$font-size-h4: $ten4rem * 3.0rem;
$font-size-h5: $ten4rem * 2.4rem;
$font-size-h6: $ten4rem * 1.5rem;

$link-color: $brand-primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

// Grid
// ---------------------------------------------------------------------------
$grid-columns: 12;
$grid-gutter-width-base: 30px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

/* Grid breakpoints
 *
 * Define the minimum dimensions at which your layout will change,
 * adapting to different screen sizes, for use in media queries.
 */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Tables
// ---------------------------------------------------------------------------
$table-bg: transparent;
$table-cell-padding: .75rem;
$dt-font-weight: bold;

// Misc
// ---------------------------------------------------------------------------
$cursor-disabled: not-allowed;
$enable-hover-media-query: false;
$enable-flex: true;
