<div class="site-layout">
  <div class="site-content">{{outlet}}</div>
  <footer class="site-footer bg-blue box-glow-blue text-black">
    <div class="row">
      <div class="col-xs-12">Made with {{rad-svg svgId='heart'}} by HealthSparq Open Source Labs, &copy; 2017</div>
    </div>
  </footer>
</div>