<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1>Ember Radical</h1>
      <h2>Ember Radical</h2>
      <h3>Ember Radical</h3>
      <h4>Ember Radical</h4>
      <h5>Ember Radical</h5>
      <p>Coloring book banh mi sriracha helvetica, edison bulb pop-up church-key gochujang whatever vice. Butcher before they sold out sartorial offal ethical, 8-bit kogi celiac bitters polaroid lo-fi normcore copper mug. Beard actually affogato seitan 3 wolf moon. Street art selfies pop-up cred migas craft beer fingerstache next level viral. Plaid wayfarers roof party, <button class="btn btn-link">Link Button</button> venmo occupy <a href="#">ANCHOR</a> 90's tilde bicycle rights ennui coloring book. Chillwave irony neutra, slow-carb activated charcoal blue bottle jean shorts everyday carry hot chicken next level. Ramps neutra 3 wolf moon bicycle rights helvetica gochujang, vice humblebrag.</p>
    </div>
    <div class="col-sm">
      <h3>Buttons:</h3>
      <button class="btn">Standard Button</button>
      <button class="btn btn-primary">Primary Button</button>
      <button class="btn btn-link">Link Button</button>
      <h3>Code</h3>
      <code>x + y = z</code>
      <pre>
        <code>const radArray = Array(11).fill('rad');</code>
      </pre>
    </div>
  </div>
</div>
