<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1>Ember Radical</h1>
      <h2>Ember Radical</h2>
      <h3>Ember Radical</h3>
      <h4>Ember Radical</h4>
      <h5>Ember Radical</h5>
      <p>Coloring book banh mi sriracha helvetica, edison bulb pop-up church-key gochujang whatever vice. Butcher before they sold out sartorial offal ethical, 8-bit kogi celiac bitters polaroid lo-fi normcore copper mug. Beard actually affogato seitan 3 wolf moon. Street art selfies pop-up cred migas craft beer fingerstache next level viral. Plaid wayfarers roof party, {{#core-button link=true id="test"}}Link Button{{/core-button}} venmo occupy <a href="#">ANCHOR</a> 90's tilde bicycle rights ennui coloring book. Chillwave irony neutra, slow-carb activated charcoal blue bottle jean shorts everyday carry hot chicken next level. Ramps neutra 3 wolf moon bicycle rights helvetica gochujang, vice humblebrag.</p>

      <h3>Tables</h3>
      <table class="w-100 clearfix">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dave Gamache</td>
            <td>26</td>
            <td>Male</td>
            <td>San Francisco</td>
          </tr>
          <tr>
            <td>Dwayne Johnson</td>
            <td>42</td>
            <td>Male</td>
            <td>Hayward</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      <h3>Buttons:</h3>
      {{#core-button}}Standard Button{{/core-button}}
      {{#core-button brand='primary'}}Primary Button{{/core-button}}
      {{#core-button link=true}}Link Button{{/core-button}}
      <h3>Code</h3>
      <code>x + y = z</code>
      <pre>
        <code>const radArray = Array(11).fill('rad');</code>
      </pre>
      <h3>Lists</h3>
      <ul>
        <li>Item 1</li>
        <li>
          Item 2
          <ul>
            <li>Item 2.1</li>
            <li>Item 2.2</li>
          </ul>
        </li>
        <li>Item 3</li>
      </ul>
      <h3>Blockquote</h3>
      <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
