<div class="row">
  <div class="col-xs-8">
    <h1>Cards</h1>
    {{#rad-card as |components|}}
      {{#components.body}}Hey, I'm in a card.{{/components.body}}
    {{/rad-card}}

    <br/>

    {{#rad-card as |components|}}
      {{#components.title}}Card title{{/components.title}}
      {{#components.body}}Card content{{/components.body}}
      {{#components.footer}}Card footer{{/components.footer}}
    {{/rad-card}}

    <br/>

    {{#rad-card brand="primary" as |components|}}
      {{#components.title}}Party time{{/components.title}}
      {{#components.body}}
        <img src="http://i.giphy.com/125RIkH7IluIpy.gif"/>
      {{/components.body}}
    {{/rad-card}}
  </div>
</div>
