<div class="row">
  <div class="col-xs-8">
    <h1>Drawers</h1>
    {{#rad-drawer as |components|}}
      {{#components.target}}
        <strong>Check out this super rad drawer</strong>
      {{/components.target}}
      {{#components.content}}
        <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
      {{/components.content}}
    {{/rad-drawer}}
  </div>

  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>buttonStyle=true</code></h5>
    {{#rad-drawer
      Target='This Drawer Target is a Button!'
      buttonStyle=true as |components|}}
      {{#components.content}}
        <img src="http://i.giphy.com/125RIkH7IluIpy.gif" style="width: 100%;" alt="" />
      {{/components.content}}
    {{/rad-drawer}}
  </div>

  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>icon='heart'</code></h5>
    {{rad-drawer
      Target='This drawer has a custom svg icon'
      Content="Isn't that something!"
      icon='heart'}}
  </div>
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>icon=false</code></h5>
    {{rad-drawer
      Target='This drawer has NO ICON AT ALL :('
      Content="Poor fella"
      icon=false}}
  </div>
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>external control</code></h5>
    <p>
      {{#rad-button
        click=(action 'expandCollapseAll')
        classNames='btn-primary'}}
        {{if exampleGroupExpanded 'Collapse All' 'Expand All'}}
      {{/rad-button}}
    </p>
    {{#rad-drawer Target='Drawer One' externalToggle=exampleGroupExpanded as |components|}}
      {{#components.content}}
        <p><img src="https://media.giphy.com/media/6Bfnhb5jQqvny/giphy.gif" style="width: 100%;" alt="" /></p>
      {{/components.content}}
    {{/rad-drawer}}
    {{#rad-drawer Target='Drawer Two' externalToggle=exampleGroupExpanded as |components|}}
      {{#components.content}}
        <p><img src="https://media.giphy.com/media/6Bfnhb5jQqvny/giphy.gif" style="width: 100%;" alt="" /></p>
      {{/components.content}}
    {{/rad-drawer}}
    {{#rad-drawer Target='Drawer Three' externalToggle=exampleGroupExpanded as |components|}}
      {{#components.content}}
        <p><img src="https://media.giphy.com/media/6Bfnhb5jQqvny/giphy.gif" style="width: 100%;" alt="" /></p>
      {{/components.content}}
    {{/rad-drawer}}
  </div>
</div>