{{!-- <div class="container-fluid">
  <div class="row">
    <div class="col-xs-9">
      {{outlet}}
    </div>
    <div class="sidebar col-xs-3">
      <img src="http://i.giphy.com/3yFr6ODcNHhrW.gif"/>
      <nav>

      </nav>
    </div>
  </div>
</div> --}}

{{outlet}}