<div class="row">
  <div class="col-xs-8">
    <h1>Tabs</h1>
    {{#core-tabs as |components|}}
      {{#components.content name='Tab A' tabDataTest='tab-a'}}
        <p>Tab A Content</p>
      {{/components.content}}
      {{#components.content name='Tab B' tabDataTest='tab-b'}}
        <p>Tab B Content</p>
      {{/components.content}}
      {{#components.content name='Tab C' tabDataTest='tab-c'}}
        <p>Tab C Content</p>
      {{/components.content}}
    {{/core-tabs}}
  </div>

  <div class="xs-12">
    <hr class="divider" />
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>buttonStyle=false</code></h5>
    {{#core-tabs defaultTab='capnJack' buttonStyle=false as |components|}}
      {{#components.content name='Shrimp' elementId='dumpsterShrimp' data-test='panel-a' tabDataTest='tab-a'}}
        <p>BRINGO! There's some pretty good lil' shrimpers in here, lets check it out.</p>
      {{/components.content}}
      {{#components.content name='Capn Jack' elementId='capnJack'}}
        <p>This here is salty sea captain name of Jack Springo</p>
      {{/components.content}}
      {{#components.content name='Fresh Water' elementId='looksClean'}}
        <p>Boy I sure did work up a thirst after eating all them shramps. Time to wash it down with a cool glass of marina water.</p>
      {{/components.content}}
    {{/core-tabs}}
  </div>

  <div class="xs-12">
    <hr class="divider" />
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>scrollOnClick</code></h5>
    {{#core-tabs defaultTab='scrimp' scrollOnClick=true as |components|}}
      {{#components.content name='Shrimp' elementId='scrimp'}}
        <p>BRINGO! There's some pretty good lil' shrimpers in here, lets check it out.</p>
      {{/components.content}}
      {{#components.content name='Capn Jack' elementId='jack'}}
        <p>This here is salty sea captain name of Jack Springo</p>
      {{/components.content}}
      {{#components.content name='Fresh Water' elementId='clean'}}
        <p>Boy I sure did work up a thirst after eating all them shramps. Time to wash it down with a cool glass of marina water.</p>
      {{/components.content}}
    {{/core-tabs}}
  </div>

  <div class="xs-12">
    <hr class="divider" />
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>hideTab</code></h5>
    {{#core-button click=(action 'toggleTabVisible')}}
      Show/hide the "Baz" tab
    {{/core-button}}

    {{#core-tabs defaultTab='foo' as |components|}}
      {{#components.content name='Quux' elementId='quux'}}
        <p>This is the Quux tab.</p>
      {{/components.content}}
      {{#components.content name='Baz' elementId='baz' hidden=tabHidden}}
        <p>I am the sometimes hidden Baz tab.</p>
      {{/components.content}}
    {{/core-tabs}}
  </div>

  <div class="xs">
    <hr class="divider" />
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>DYNAMIC ADDITIONS</code></h5>
    {{#core-button click=(action 'addTab')}}
      Add a tab
    {{/core-button}}

    {{#core-tabs defaultTab='bar' as |components|}}
      {{#each tabs as |tab|}}
        {{#components.content name=tab.name elmentId=tab.elementId}}
          <p>{{tab.content}}</p>
        {{/components.content}}
      {{/each}}
    {{/core-tabs}}
  </div>
</div>
