<div class="row">
  <div class="col-xs-8">
    <h1>Tabs</h1>
    {{#rad-tabs defaultTab='tab-c' as |components|}}
      {{#components.content label='Tab A'}}
        <p>Tab A Content</p>
      {{/components.content}}
      {{#components.content label='Tab B'}}
        <p>Tab B Content</p>
      {{/components.content}}
      {{#components.content label='Tab C' elementId='tab-c'}}
        <p>Tab C Content</p>
      {{/components.content}}
    {{/rad-tabs}}
  </div>

  <div class="xs-12">
    <hr class="divider" />
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>buttonStyle=false</code></h5>
    {{#rad-tabs defaultTab='dumpsterShrimp' buttonStyle=false as |components|}}
      {{#components.content label='Shrimp' elementId='dumpsterShrimp'}}
        <p>BRINGO! There's some pretty good lil' shrimpers in here, lets check it out.</p>
      {{/components.content}}
      {{#components.content label='Capn Jack'}}
        <p>This here is salty sea captain name of Jack Springo</p>
      {{/components.content}}
      {{#components.content label='Fresh Water'}}
        <p>Boy I sure did work up a thirst after eating all them shramps. Time to wash it down with a cool glass of marina water.</p>
      {{/components.content}}
    {{/rad-tabs}}
  </div>

  <div class="xs-12">
    <hr class="divider" />
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>scrollOnClick</code></h5>
    {{#rad-tabs defaultTab='scrimp' scrollOnClick=true as |components|}}
      {{#components.content label='Shrimp' elementId='scrimp'}}
        <p>BRINGO! There's some pretty good lil' shrimpers in here, lets check it out.</p>
      {{/components.content}}
      {{#components.content label='Capn Jack'}}
        <p>This here is salty sea captain name of Jack Springo</p>
      {{/components.content}}
      {{#components.content label='Fresh Water'}}
        <p>Boy I sure did work up a thirst after eating all them shramps. Time to wash it down with a cool glass of marina water.</p>
      {{/components.content}}
    {{/rad-tabs}}
  </div>

  <div class="xs-12">
    <hr class="divider" />
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>hideTab</code></h5>
    {{#rad-button click=(action 'toggleTabVisible')}}
      Show/hide the "Baz" tab
    {{/rad-button}}

    {{#rad-tabs defaultTab='baz' as |components|}}
      {{#components.content label='Quux'}}
        <p>This is the Quux tab.</p>
      {{/components.content}}
      {{#components.content label='Baz' elementId='baz' hidden=tabHidden}}
        <p>I am the sometimes hidden Baz tab.</p>
      {{/components.content}}
    {{/rad-tabs}}
  </div>

  <div class="xs">
    <hr class="divider" />
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <h5><code>DYNAMIC ADDITIONS</code></h5>
    {{#rad-button click=(action 'addTab')}}
      Add a tab
    {{/rad-button}}

    {{#rad-tabs defaultTab='bar' as |components|}}
      {{#each tabs as |tab|}}
        {{#components.content label=tab.label elementId=tab.elementId}}
          <p>{{tab.content}}</p>
        {{/components.content}}
      {{/each}}
    {{/rad-tabs}}
  </div>
</div>
