<section>
  <p class="intro">Alerts allow you to display contextual feedback to users with the
  styles conveying the intent of the alert.</p>
</section>
<section>
  <h3>Examples</h3>

  {{code-example
    title='Contexutal Alerts'
    language='handlebars'
    code="
      {{#rad-alert brand='success'}}You just navigated to the Alerts overview guide, well done!{{/rad-alert}}
      {{#rad-alert brand='info'}}Did you know that only 8% of the world’s currency is physical money, the rest only exists on computers.{{/rad-alert}}
      {{#rad-alert brand='warning'}}Beware of ice on roadways once the air temperature drops below 37&deg;{{/rad-alert}}
      {{#rad-alert brand='danger'}}If you just received an email from the king of Russia, don't open any attachments!{{/rad-alert}}"}}

  <br>

  {{code-example
    title='Non-Dismissable Alerts'
    language='handlebars'
    code="{{#rad-alert brand='info' dismissible=false}}Pass <code>dismissible=false</code> for an alert that can't be dismissed{{/rad-alert}}"}}

</section>
<section>
  <h3>Properties</h3>

  <hr>

  {{#rad-tabs
    defaultTab='passedProps'
    card=true as |components|}}
    {{#components.content
      label='Passed'
      elementId='passedProps'}}
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>brand</code></td>
            <td>{String}</td>
            <td>''</td>
            <td>
              <p>What brand class to use to style the alert</p>
              <p class="small enums"><strong>Enums:</strong> primary, secondary, success, info, warning, danger</p>
            </td>
          </tr>
          <tr>
            <td><code>canDismiss</code></td>
            <td>{Boolean}</td>
            <td>true</td>
            <td>Whether the alert can be dismissed by the user with a close button</td>
          </tr>
          <tr>
            <td><code>onDismiss</code></td>
            <td>{Function}</td>
            <td>() => {}</td>
            <td>Additional behavior to execute when the alert is dismissed</td>
          </tr>
        </tbody>
      </table>
    {{/components.content}}
  {{/rad-tabs}}
</section>