<section>
  <p class="intro">Cards are simple presentational components with no real functionality but with a consistent visual language for displaying card-like content.</p>
</section>
<section>
  <h3>Examples</h3>

  {{#rad-card as |components|}}
    {{#components.title}}Basic Examples{{/components.title}}
    {{#components.body}}
      {{#rad-card as |components|}}
        {{#components.body}}Simple card{{/components.body}}
      {{/rad-card}}
    {{/components.body}}
  {{/rad-card}}

  {{#rad-card as |components|}}
    {{#components.title}}Extended Examples{{/components.title}}
    {{#components.body}}
      {{#rad-card as |components|}}
        {{#components.title}}Simple card w/ header{{/components.title}}
        {{#components.body}}Some content{{/components.body}}
      {{/rad-card}}

      {{#rad-card as |components|}}
        {{#components.title}}Simple card w/ header and footer{{/components.title}}
        {{#components.body}}Some content{{/components.body}}
        {{#components.footer}}Footer content{{/components.footer}}
      {{/rad-card}}

      {{#rad-card brand="primary" as |components|}}
        {{#components.title}}Branded Header{{/components.title}}
        {{#components.body}}Some content{{/components.body}}
      {{/rad-card}}

      {{#rad-card brand="primary" as |components|}}
        {{#components.title}}Branded card w/ custom content{{/components.title}}
        {{#components.body}}
          {{#rad-button}}Button{{/rad-button}}
        {{/components.body}}
        {{#components.footer}}Footer content{{/components.footer}}
      {{/rad-card}}
    {{/components.body}}
  {{/rad-card}}

</section>
<section>
  <h3>Passed Properties</h3>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>brand</code></td>
        <td>String</td>
        <td>''</td>
        <td>The brand class to use to style the header and footer subcomponents</td>
      </tr>
    </tbody>
  </table>

  <h3>Yielded Properties</h3>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>components</code></td>
        <td>Object</td>
        <td>N/A</td>
        <td>Available subcomponents: <code>components.body</code>, <code>components.footer</code>, <code>components.title</code> (See example source code)</td>
      </tr>
    </tbody>
  </table>
</section>
