<div class="page-title">
  <h1>Dropdowns</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-7">
      <div class="guide-content">
        <section>
          <p class="intro">Dropdowns can be used for displaying arbitrary content, and are also useful as a stand-in for select boxes/menus.</p>
        </section>
        <section>
          <h4>Basic usage (as a menu)</h4>
          {{#rad-dropdown
            Target="Pretty cool menu"
            buttonStyle=true as |components showMenu hideMenu|}}
            {{#components.content}}
              {{#rad-button link=true click=(action hideMenu)}}Menu Option One{{/rad-button}}<br>
              {{#rad-button link=true click=(action hideMenu)}}Menu Option Two{{/rad-button}}<br>
              {{#rad-button link=true click=(action hideMenu)}}Menu Option Three{{/rad-button}}
            {{/components.content}}
          {{/rad-dropdown}}
        </section>
        <section>
          <h4><code>buttonStyle=false</code></h4>
          {{rad-dropdown Target="Open dropdown!" Content="Oh hi, mark" buttonStyle=false}}
        </section>
        <section>
          <h5><code>buttonStyle=true</code></h5>
          {{#rad-dropdown Target="Open me!" buttonStyle=true as |components|}}
            {{#components.content}}Heyy{{/components.content}}
          {{/rad-dropdown}}
        </section>
        <section>
          <h4><code>Branded</code></h4>
          {{#rad-dropdown Target="Click me!" brand="primary" buttonStyle=true as |components|}}
            {{#components.content}}Heyy{{/components.content}}
          {{/rad-dropdown}}
        </section>
        <section>
          <h4><code>Custom Content</code></h4>
          {{#rad-dropdown buttonStyle=true as |components|}}
            {{#components.target}}Oh hi{{/components.target}}
            {{#components.content}}
              <img src="http://i.giphy.com/125RIkH7IluIpy.gif"/>
            {{/components.content}}
          {{/rad-dropdown}}
        </section>
      </div>
    </div>
    <div class="sidebar col-xs-4">
      {{sidebar-nav}}
    </div>
  </div>
</div>