<section>
  <p class="intro">Popovers are like tooltips on steroids. They allow you to display any amount of arbitrary content simply by hovering over the target text.</p>
</section>
<section>
  <h3>Examples</h3>

  {{#rad-card as |components|}}
    {{#components.title}}Basic Examples{{/components.title}}
    {{#components.body}}

      {{#rad-popover as |components|}}
        {{#components.target}}Popover button{{/components.target}}
        {{#components.content position="bottom"}}
          <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
        {{/components.content}}
      {{/rad-popover}}

      {{#rad-popover as |components|}}
        {{#components.target link=true}}Popover link{{/components.target}}
        {{#components.content position="bottom"}}
          <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
        {{/components.content}}
      {{/rad-popover}}

    {{/components.body}}
  {{/rad-card}}

  {{#rad-card as |components|}}
    {{#components.title}}Positions{{/components.title}}
    {{#components.body}}

      {{#rad-popover position="top" as |components aria-describedby|}}
        {{#rad-button aria-describedby=aria-describedby}}Top{{/rad-button}}
        {{#components.content}}
          <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
        {{/components.content}}
      {{/rad-popover}}

      {{#rad-popover position="bottom" as |components aria-describedby|}}
        {{#rad-button aria-describedby=aria-describedby}}Bottom{{/rad-button}}
        {{#components.content}}
          <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
        {{/components.content}}
      {{/rad-popover}}

      {{#rad-popover position="left" as |components aria-describedby|}}
        {{#rad-button aria-describedby=aria-describedby}}Left{{/rad-button}}
        {{#components.content}}
          <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
        {{/components.content}}
      {{/rad-popover}}

      {{#rad-popover position="right" as |components aria-describedby|}}
        {{#rad-button aria-describedby=aria-describedby}}Right{{/rad-button}}
        {{#components.content}}
          <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
        {{/components.content}}
      {{/rad-popover}}

    {{/components.body}}
  {{/rad-card}}

  {{#rad-card as |components|}}
    {{#components.title}}Sizes{{/components.title}}
    {{#components.body}}

      {{#rad-popover position="top" size="large" as |components aria-describedby|}}
        {{#rad-button aria-describedby=aria-describedby}}Large{{/rad-button}}
        {{#components.content}}
          <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
        {{/components.content}}
      {{/rad-popover}}

      {{#rad-popover position="top" size="x-large" as |components aria-describedby|}}
        {{#rad-button aria-describedby=aria-describedby}}X-Large{{/rad-button}}
        {{#components.content}}
          <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
        {{/components.content}}
      {{/rad-popover}}

    {{/components.body}}
  {{/rad-card}}

</section>
<section>
  <h3>Properties</h3>

  <hr>

  {{#rad-tabs
    defaultTab='passedProps'
    card=true as |components|}}
    {{#components.content
      label='Passed'
      elementId='passedProps'}}
      <table class="full-width">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>position</code></td>
            <td>{String}</td>
            <td>'bottom'</td>
            <td>
              <p>The position that the tooltip is created in relative to its anchor element.</p>
              <p class="small enums"><strong>Enums:</strong> top, bottom, left, right, bottom-left, bottom-right</p>
            </td>
          </tr>
          <tr>
            <td><code>size</code></td>
            <td>String</td>
            <td>'medium'</td>
            <td>
              <p>The size of the tooltip itself.</p>
              <p class="small enums"><strong>Enums:</strong> small, medium, large, x-large</p>
            </td>
          </tr>
        </tbody>
      </table>
    {{/components.content}}
  {{/rad-tabs}}
</section>