<section>
  <p class="intro">Popovers are like tooltips on steroids. They allow you to display any amount of arbitrary content simply by hovering over the target text.</p>
</section>
<section>
  <h4>Basic Usage</h4>
  {{#rad-popover as |components|}}
    {{#components.target}}PRETTY SWEET CONTENT INSIDE!{{/components.target}}
    {{#components.content position="bottom"}}
      <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
    {{/components.content}}
  {{/rad-popover}}
  <hr>
  <p>The <code>target</code> subcomponents are just <code>rad-button</code> instances! That means you can pass properties like <code>brand</code> and <code>link</code> into them!</p>
  {{#rad-popover as |components|}}
    {{#components.target link=true}}This component target looks like regular ol text{{/components.target}}
    {{#components.content position="bottom"}}
      <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
    {{/components.content}}
  {{/rad-popover}}
</section>
<section>
  <h4>Positions!</h4>
  <h5><code>position="top"</code></h5>
  {{#rad-popover position="top" as |components aria-describedby|}}
    {{#rad-button aria-describedby=aria-describedby}}This popover appears above{{/rad-button}}
    {{#components.content}}
      <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
    {{/components.content}}
  {{/rad-popover}}
  <hr>
  <h5><code>position="left"</code></h5>
  {{#rad-popover position="left" as |components aria-describedby|}}
    {{#rad-button aria-describedby=aria-describedby}}This popover appears to the left{{/rad-button}}
    {{#components.content}}
      <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
    {{/components.content}}
  {{/rad-popover}}
  <hr>
  <h5><code>position="right"</code></h5>
  {{#rad-popover position="right" as |components aria-describedby|}}
    {{#rad-button aria-describedby=aria-describedby}}This popover appears to the right{{/rad-button}}
    {{#components.content}}
      <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
    {{/components.content}}
  {{/rad-popover}}
  <hr>
  <h5><code>position="bottom-left"</code></h5>
  {{#rad-popover position="bottom-left" as |components aria-describedby|}}
    {{#rad-button aria-describedby=aria-describedby}}This popover appears to the bottom and left{{/rad-button}}
    {{#components.content}}
      <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
    {{/components.content}}
  {{/rad-popover}}
</section>
<section>
  <h4>Sizes!</h4>
  <h5><code>size="large"</code></h5>
  {{#rad-popover position="top" size="large" as |components aria-describedby|}}
    {{#rad-button aria-describedby=aria-describedby}}This popover is bigger than usual{{/rad-button}}
    {{#components.content}}
      <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
    {{/components.content}}
  {{/rad-popover}}
  <hr>
  <h5><code>size="x-large"</code></h5>
  {{#rad-popover position="top" size="x-large" as |components aria-describedby|}}
    {{#rad-button aria-describedby=aria-describedby}}This popover is REALLY BIG{{/rad-button}}
    {{#components.content}}
      <img src="https://media.giphy.com/media/KVUhxQAqrAV3i/giphy.gif" style="width: 100%;" alt="" />
    {{/components.content}}
  {{/rad-popover}}
</section>