<section>
  <p class="intro">Tabs are a great interface pattern for displaying sets of related content that you want to give focus to one item at a time.</p>
</section>
<section>

  <h3>Examples</h3>

  {{#rad-card as |components|}}
    {{#components.title}}Basic Example{{/components.title}}
    {{#components.body}}
      {{#rad-tabs defaultTab='tab-a' as |components|}}
        {{#components.content label='Tab A' elementId='tab-a'}}
          <p>Tab A Content</p>
        {{/components.content}}
        {{#components.content label='Tab B'}}
          <p>Tab B Content</p>
        {{/components.content}}
        {{#components.content label='Tab C'}}
          <p>Tab C Content</p>
        {{/components.content}}
      {{/rad-tabs}}
    {{/components.body}}
  {{/rad-card}}

  <br>

  {{#rad-card as |components|}}
    {{#components.title}}Plain Style{{/components.title}}
    {{#components.body}}
      {{#rad-tabs defaultTab='dumpsterShrimp' buttonStyle=false as |components|}}
        {{#components.content label='Shrimp' elementId='dumpsterShrimp'}}
          <p>BRINGO! There's some pretty good lil' shrimpers in here, lets check it out.</p>
        {{/components.content}}
        {{#components.content label='Capn Jack'}}
          <p>This here is salty sea captain name of Jack Springo</p>
        {{/components.content}}
        {{#components.content label='Fresh Water'}}
          <p>Boy I sure did work up a thirst after eating all them shramps. Time to wash it down with a cool glass of marina water.</p>
        {{/components.content}}
      {{/rad-tabs}}
    {{/components.body}}
  {{/rad-card}}

  <br>

  {{#rad-card as |components|}}
    {{#components.title}}Scroll to Tab on Click{{/components.title}}
    {{#components.body}}
      {{#rad-tabs defaultTab='scrimp' scrollOnClick=true as |components|}}
        {{#components.content label='Shrimp' elementId='scrimp'}}
          <p>BRINGO! There's some pretty good lil' shrimpers in here, lets check it out.</p>
        {{/components.content}}
        {{#components.content label='Capn Jack'}}
          <p>This here is salty sea captain name of Jack Springo</p>
        {{/components.content}}
        {{#components.content label='Fresh Water'}}
          <p>Boy I sure did work up a thirst after eating all them shramps. Time to wash it down with a cool glass of marina water.</p>
        {{/components.content}}
      {{/rad-tabs}}
    {{/components.body}}
  {{/rad-card}}

  <br>

  {{#rad-card as |components|}}
    {{#components.title}}Show/Hide Tabs{{/components.title}}
    {{#components.body}}
      {{#rad-state as |stateValue stateActions|}}
        <p>{{#rad-button click=(action stateActions.toggleState)}}Show/hide the "Baz" tab{{/rad-button}}</p>
        <br>
        {{#rad-tabs defaultTab='quux' as |components|}}
          {{#components.content label='Quux' elementId='quux'}}
            <p>This is the Quux tab.</p>
          {{/components.content}}
          {{#components.content label='Baz' elementId='baz' hidden=stateValue}}
            <p>I am the sometimes hidden Baz tab.</p>
          {{/components.content}}
        {{/rad-tabs}}
      {{/rad-state}}
    {{/components.body}}
  {{/rad-card}}

  <br>

  {{#rad-card as |components|}}
    {{#components.title}}Dynamically Add Tabs{{/components.title}}
    {{#components.body}}
      <p>{{#rad-button
        click=(action 'addTab')
        disabled=disableAddTabButton}}Add a tab{{/rad-button}}</p>
      <br>
      {{#rad-tabs defaultTab='bar' as |components|}}
        {{#each tabs as |tab|}}
          {{#components.content label=tab.label elementId=tab.elementId}}
            <p>{{tab.content}}</p>
          {{/components.content}}
        {{/each}}
      {{/rad-tabs}}
    {{/components.body}}
  {{/rad-card}}
</section>

<section>
  <h3>Passed Properties</h3>

  <br>
  <h5>Parent: <code>rad-tabs</code></h5>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>activeId</code></td>
        <td>String</td>
        <td>''</td>
        <td>The <code>elementId</code> of the tab that is currently visible</td>
      </tr>
      <tr>
        <td><code>buttonStyle</code></td>
        <td>Boolean</td>
        <td>true</td>
        <td>Set to false for tab buttons without primary background-color</td>
      </tr>
      <tr>
        <td><code>defaultTab</code></td>
        <td>String</td>
        <td>false</td>
        <td>The tab to display as the default on initial render. Should match the 'elementId' supplied to a child <code>rad-tabs/content</code> component.</td>
      </tr>
      <tr>
        <td><code>onChange</code></td>
        <td>Function</td>
        <td>() => {}</td>
        <td>Optional behavior to call when any tab is clicked/opened</td>
      </tr>
      <tr>
        <td><code>scrollOnClick</code></td>
        <td>Boolean</td>
        <td>false</td>
        <td>Scroll the current page to the top OR specified target when a tab is clicked</td>
      </tr>
      <tr>
        <td><code>scrollTarget</code></td>
        <td>String</td>
        <td>'body, html'</td>
        <td>Specify scroll animation target as a jQuery selector</td>
      </tr>
    </tbody>
  </table>

  <br>
  <hr class="divider">
  <br>

  <h5>Child: <code>rad-tabs/content</code></h5>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>elementId</code></td>
        <td>String</td>
        <td>''</td>
        <td>Set a specific id for this component when using container <code>defaultTab</code> (overrides auto-generated ID)</td>
      </tr>
      <tr>
        <td><code>hidden</code></td>
        <td>Boolean</td>
        <td>false</td>
        <td>Whether this tab should exist but be hidden from view if certain data is not available.</td>
      </tr>
      <tr>
        <td><code>label</code></td>
        <td>String</td>
        <td>''</td>
        <td>Text label of the tab button for this panel</td>
      </tr>
      <tr>
        <td><code>tabDataTest</code></td>
        <td>String</td>
        <td>''</td>
        <td>Binds to the <code>data-test</code> attribute of the tab's button</td>
      </tr>
    </tbody>
  </table>
</section>